.pokemon-card {
  padding: 1rem 1.25rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 175px;
  text-align: center;
}

.sprite {
  background-color: rgb(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.sprite img {
  height: 90%;
  width: 90%;
}

.id {
  background-color: rgba(168, 168, 168, 0.6);
  font-size: 0.85rem;
  padding: 2px 10px;
  border-radius: 10px;
}

.name {
  font-weight: bold;
}

.type {
  font-size: 1rem;
}
