body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d4c9be;
}

h1,
h2,
p,
ul {
  margin: 0;
}

h1 {
  color: #f1efec;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: #123458;
}

a {
  background-color: #030303;
  color: #f1efec;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #123458;
}

button {
  background-color: #030303;
  color: #f1efec;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

button:hover {
  background-color: #123458;
}
