.main-contents {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding: 2.5rem 4.5rem;
  background-color: white;
  width: 35vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.message {
  font-size: 2rem;
}

.new-joke-btn button {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: #7858a6;
  color: white;
  padding: 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.new-joke-btn button:active {
  transform: scale(0.95);
}
